<div class="column"> 
    <span class="position-name">(none)</span>
    <div class="columntools">
		<a href="#columnsettingbox" rel="popover" data-placement="bottom" title="Column settings" class="icon-cog rowcolumnspop"></a>
		<a href="" title="Add new row" class="icon-align-justify add-rowin-column"></a>
		<a href="" title="Remove column" class="icon-remove columndelete"></a>
		<a href="" title="Move column" class="icon-move columnmove"></a>	
    </div>  

    <input type="hidden" class="widthinput" name="" value=""> 
    <input type="hidden" class="offsetinput" name="" value=""> 
    <input type="hidden" class="typeinput" name="" value="modules"> 
    <input type="hidden" class="positioninput" name="" value=""> 
    <input type="hidden" class="styleinput" name="" value="sp_xhtml"> 
    <input type="hidden" class="customclassinput" name="" value="">
    <input type="hidden" class="responsiveclassinput" name="" value=""> 
 </div>