.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a:not(.btn) {
  color: #252b09;
}
a:not(.btn):hover {
  color: #6d7f1b;
}
body {
  color: #444;
}
body.bg {
  background: #f5f5f5;
}
#sp-header-wrapper {
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top,#ffffff,#eeeeee);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#eeeeee));
  background-image: -webkit-linear-gradient(top,#ffffff,#eeeeee);
  background-image: -o-linear-gradient(top,#ffffff,#eeeeee);
  background-image: linear-gradient(to bottom,#ffffff,#eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
}
#sp-header-wrapper .logo {
  background-image: url(../../images/presets/preset2/logo.png);
}
#sp-feature-wrapper {
  background-color: #505d14;
  background-image: -moz-linear-gradient(top,#6d7f1b,#252b09);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#6d7f1b),to(#252b09));
  background-image: -webkit-linear-gradient(top,#6d7f1b,#252b09);
  background-image: -o-linear-gradient(top,#6d7f1b,#252b09);
  background-image: linear-gradient(to bottom,#6d7f1b,#252b09);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d7f1b', endColorstr='#ff242a09', GradientType=0);
}
#sp-feature-wrapper a:not(.btn) {
  color: #b5d22e;
}
#sp-feature-wrapper a:not(.btn):hover {
  color: #d3e482;
}
.module.highlighted {
  background: #3498DB;
}
.module.highlighted a {
  color: #fff !important;
}
#sp-bottom-wrapper,
#sp-footer-wrapper {
  background: #010100;
  color: #fff;
}
#sp-bottom-wrapper h3,
#sp-footer-wrapper h3 {
  color: #fff;
}
#sp-bottom-wrapper a:not(.btn),
#sp-footer-wrapper a:not(.btn) {
  color: #91a924;
}
#sp-bottom-wrapper a:not(.btn):hover,
#sp-footer-wrapper a:not(.btn):hover {
  color: #c4db58;
}
#sp-footer-wrapper {
  border-top: 1px solid #000000;
}
#sp-footer-wrapper::after {
  background: #1a1e06;
}
.sp-border {
  border-top: 1px solid #000000;
}
.sp-border::after {
  background: #1a1e06;
}
.btn-primary,
button,
input[type='submit'],
input[type='button'],
submit {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #4f7f1b;
  background-image: -moz-linear-gradient(top,#5c7f1b,#3b7f1b);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#5c7f1b),to(#3b7f1b));
  background-image: -webkit-linear-gradient(top,#5c7f1b,#3b7f1b);
  background-image: -o-linear-gradient(top,#5c7f1b,#3b7f1b);
  background-image: linear-gradient(to bottom,#5c7f1b,#3b7f1b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5c7e1b', endColorstr='#ff3a7e1b', GradientType=0);
  border-color: #3b7f1b #3b7f1b #1e400e;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #3b7f1b;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled],
button:hover,
button:active,
button.active,
button.disabled,
button[disabled],
input[type='submit']:hover,
input[type='submit']:active,
input[type='submit'].active,
input[type='submit'].disabled,
input[type='submit'][disabled],
input[type='button']:hover,
input[type='button']:active,
input[type='button'].active,
input[type='button'].disabled,
input[type='button'][disabled],
submit:hover,
submit:active,
submit.active,
submit.disabled,
submit[disabled] {
  color: #fff;
  background-color: #3b7f1b;
  *background-color: #316a17;
}
.btn-primary:active,
.btn-primary.active,
button:active,
button.active,
input[type='submit']:active,
input[type='submit'].active,
input[type='button']:active,
input[type='button'].active,
submit:active,
submit.active {
  background-color: #275512 \9;
}
